@import "tailwindcss";
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color:#f5f5f5;
}

/* Scrollbar fina y moderna para el sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(71, 85, 105, 0.5); /* Slate-600 con opacidad */
  border-radius: 20px;
}